
.y22 {
	display: block;
}
p {
	margin-top: 30px;
	color: white;
	font-size: 30PX;
	
}
form {
	margin-top: 10px;
}
img {
	margin-top: 100px;
	margin-left: -250px;
	width: 300px;
}
body {
    background: url(images/bjt.JPG) no-repeat;
    background-size: cover;
    background-attachment: fixed;
	text-align: center;
}
